<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @candidate.first_name %></h1>
    <p>
      We are glad to see you at example.com.<br>
    </p>


<p>You've answered <%@candidate.attempts.each do |a|%> 
  <%= a.correct_answers%> 
<%end%> questions correctly out of 
<%= @candidate.lab.test.questions.count%> .</p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
