<h1>Test name: <%=@attempt.test.test_name%></h1>
<h1>Correct answers: <%=@attempt.correct_answers%></h1>
<h1>Wrong answers: <%=@attempt.wrong_answers%></h1>
<h1>User name: <%=@attempt.candidate&.id%></h1>
  
