<h1><%=@lab.lab_name%></h1>
<h1><%=@lab.description%></h1>


<%= link_to 'Enroll', new_candidate_path(@candidate, lab_id: @lab.id), class: "btn btn-primary" %>
<%= link_to 'Back', :back, class: "btn btn-primary" %>