<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :correct_answer %>
        <%= f.text_field :correct_answer %>
        <%= link_to "delete", '#', class: "remove_fields" %>
    </div>
</div>