<p id="notice"><%= notice %></p>

<div>
<% @tests.each do |test| %>
<div class="card d-inline-block" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= test.test_name %></h5>
    <%= link_to 'Show more', test_path(test), class: "btn btn-primary"%>
  </div>
</div>
<% end %>


<%= link_to 'New Test', new_test_path %>

